/* marquee.css */

.marquee {
  overflow: hidden;
}

.marquee ul {
  display: flex;
  animation: scroll 28s linear infinite;
}

.marquee:hover ul {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  95% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
